p{text-align: center;font-sizze: 20 px;
background:  #f1cccc; }
H1 {font-size: 50 px; text-align: center; background: #4bdbd4;}
body{background: #222fda}
#imagem1{
width:100%
}
h1 {border: 10px; padding:20px; }



